<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/bootstrap.css" th:href="@{/bootstrap.min.css}"/>
    <title>Viewer4Doc Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">Viewer4Doc</h1>
        <p class="lead">We provide Document Web Viewer service.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/view/home" role="button">Get started</a>
        </p>
    </div>
</body>
</html>